.ghost-button {
  display: inline-block;
  width: 200px;
  padding: 15px;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  border-width: medium;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.1s ease-out,
              color 0.1s ease-out,
			  border 0.1s ease-out;
}

.ghost-button:hover,
.ghost-button:active {
  background-color: white;
  border: 1px solid black;
  border-width: medium;
  color: black;
   transition: background-color 0.15s ease-in,
              color 0.15s ease-in,
			  border 0.15s ease-in;
}

.bigtext {
	font-family: "Times New Roman", Times, serif;
	padding: 0 0 80px 0;
    font-size: 250%;
}

/*+*********TABS*************+*/
/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #66c2ff;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
	border-radius: 0px;
    outline: none;
    cursor: pointer;
    padding: 16px 18px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #008ae6;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #008ae6;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 0px 0px;
    border-top: none;
}